---
layout: layouts/base.njk
---
{% for c in nav.categories %}{% if c.key == category %}
    <!-- PAGE HEADER -->
    <section class="page-header">
      <div class="wrap">
        <p class="eyebrow">{{ c.eyebrow }}</p>
        <h1>{{ c.label }}</h1>
      </div>
    </section>

    <!-- PAGE INTRO / CONTENT -->
    <section class="page-intro">
      <div class="wrap">
{{ content | safe }}
        <ul class="info-list info-list-linked">
          {% for item in c.items %}
          <li><a href="{{ item.url }}">{{ item.label }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
{% endif %}{% endfor %}
